.container 
  .profilepage-items
    .profiles-user-img
      = image_tag current_user.avatar_image
    .profilepage-info
      .profilepage-user-name
        .profilepage-user-display
          #{current_user.display_name} (#{current_user.age}・#{I18n.t("enum.genders.#{current_user.gender}")})
        .profilepage-user-toedit
          = link_to 'Edit', edit_profile_path
      .profilepage-user-introduction
        = current_user.profile&.introduction
    - current_user.tasks.each do |task|
      .card-item
        %img.eyecatch{:src => "airbnbexample.jpg"}/
        %h3.card-item-ttl
          = task.title 
        %p.card-item-txt 
          = task.description
        .card-item-img
          = image_tag current_user.avatar_image, class: 'card-img'