.container
  %h3.form-name.boards Boards
  %h2.page-ttl Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :Email, class: 'form-name'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text'
    .field
      = f.label :Password, class: 'form-name'
      - if @minimum_password_length
        -# %em
        -#   (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "new-password", class: 'text'
    .field
      = f.label :Password_Confirmation, class: 'form-name'
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'text'
      %br/
    .actions
      = f.submit "Submit", class: 'btn-primary'
  = render "devise/shared/links"
