.container
  %h2.page-ttl.boards-page-ttl Brackets
  - @tasks.each do |task|
    = link_to task_path(task.id) do
      .card-item
        %img.eyecatch{:src => "airbnbexample.jpg"}/
        %h3.card-item-ttl
          = task.title 
        %p.card-item-txt 
          = task.description
        .card-item-img
          = image_tag task.user.avatar_image, class: 'card-img'
  = link_to new_task_path do
    .item-add + Add new task
