.container
  %h2.page-ttl Sign in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :Email, class: 'form-name'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text'
    .field
      = f.label :Password, class: 'form-name'
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'text'
    .actions
      = f.submit "Submit", class: 'btn-primary'
    = link_to 'Sign up', new_user_registration_path, class: 'signup-link'
  = render "devise/shared/links"
    
