.contianer
  %h2.page-ttl.boards-page-ttl All Boards
  - @boards.each do |board|
    .card-item
      %h3.card-item-ttl
        = board.title 
      - if user_signed_in? && current_user.has_written?(@board)
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_board_path(board.id)
            = link_to '削除する', board_path(board.id), method: :delete
      %p.card-item-txt 
        = board.content
      .card-item-img
        = image_tag 'default-avatar.png', class: 'card-img'
  = link_to new_board_path do
    .item-add + Add new board