.contianer
  %h2.page-ttl.boards-page-ttl Board
  - @boards.each do |board|
    .card-item.-showver
      %h3.card-item-ttl.-showver
        = board.title  
      .dropdown
        = image_tag 'actions.svg', class: 'dropbtn'
        .dropdown-content.mini
          = link_to '編集する', edit_board_path(@board)
          = link_to '削除する'
      %p.card-item-txt.-showver
        = board.content
      .card-item-img.-showver
        = image_tag 'default-avatar.png', class: 'card-img'